*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

a{color: hsl(231, 83%, 25%);}

li{list-style:none;}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(225, 24%, 27%);
    font-family: "Helvetica Neue",Helvetica,Arial Arial, Helvetica, sans-serif;
}

.wrapper{
    width:610px;
    background: hsl(0, 0%, 100%);
    border-radius:20px ;
    padding:2rem;
}

.wrapper header{
    font-size:35px;
    font-weight: 700;
    color:hsl(231, 83%, 25%);
    text-align:center;
}

.wrapper .content{
    margin: 35px 0;
    width:100%;
    padding: 1rem;
    border-radius:20px;
    background: hsl(240, 16%, 91%);
}

.content .quote-area{
    display: flex;
    justify-content:center; 
}

.quote-area i{font-size: 15px;}

.quote-area i:first-child{  margin: 3px 10px 0 0;}

.quote-area i:last-child{  
    display: flex;
    align-items:flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size:15px;
    text-align: center;
    word-break: break-all;
}

.content .author {
    display: flex;
    justify-content: flex-end;
    font-size:12px;
    margin:15px;
}

.author span:first-child{
  margin: -7px 5px 0px 0px;
  font-family: 'Courier New', Courier, monospace;

}

.wrapper .clicks{
    border-top: 1px solid #ccc;
}

.clicks .socials{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top:15px;
}

.socials ul{
    display: flex;
    gap: 15px;
}

.social-link .icons{
    margin: 0 5px;   
    height: 40px;
    width: 40px;
    border: 1px solid hsl(231, 83%, 25%);
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:center;
    color:hsl(231, 83%, 25%);
    transition: all 0.3s ease-in-out;
}


.social-link .icons:is(:hover,:focus){
    background: hsl(231, 83%, 25%);
    color: hsl(240, 16%, 91%);
}

.socials button{
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    padding:12px 24px;
    cursor: pointer;
    background:hsl(231, 83%, 25%);
    border-radius:10px;
    font-size: 14px;
}

 button.loading:is(:hover,:focus){
    opacity:0.8;
    pointer-events: none;
}

